gitcmd.md
.gitignore

# to add repository:
# 	git remote add origin git@github.com:yogku/yogku.github.io.git
# 	(this will connect to yogku repository)

# to set upstream
# 	git push --set-upstream origin master
# 	(this will set upstream to origin master and can use "git puch" moving forword.)


# to pull : 
# 	git pull origin master 
# 	( that will download all the data from remote repo)

# to commit :
# 	git commit -a -m "Comment"
# 	(this will add all the changes into git )
	
# to push :
# 	git push origin master
# 	(that will send all the changes to remote repo)
	
# to reset :
# 	git reset --hard 
# 	(Deleates all the changes done in files)
	
	
