* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #0c0f1d;
}
.header {
  position: relative;
  align-items: center;
  background-color: #1b1d2a;
  color: #657ef8;
  padding: 30px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2; 
}

.header h1 {
  font-family: 'Pacifico';
  font-size: 30px;
  position: absolute;
  top: 30px;
  left: 50px;
  transform: translateY(-50%);
  margin: 0;
  z-index: 3; 
}

.profileIcon {
  z-index: 4; 
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  right: 5px;
  top: 10px;
  margin-right: 20px;
}
.profileIcon img{
  height: 50px;
  width: 50px;
}



.logo{
  cursor: pointer;
  color: #657ef8;
}

.side-nav {
  width: 100px;
  height: 100%;
  position: fixed;
  top: 200;
  left: 0;
  padding: 30px 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgb(27, 29, 49);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: width 0.4s;
  z-index: 1;
}

.side-nav ul:last-child {
  margin-bottom: 60px; /* Add this line */
}

ul{
  list-style: none;
  padding: 0 0px;
}

ul li{
  margin: 30px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li img{
  width: 30px;
  margin-right: 0px;
  height: 40px;
  width: 40px;
}

ul li p{
  white-space: nowrap;
  display: none;
}


.content-container {
  margin-left: 250px;
  padding: 20px;
  color: white;
}

.content {
  padding: 20px;
  margin-left: 100px;
}

.side-nav:hover{
  width: 250px;
}

.side-nav:hover ul li{
  cursor:  pointer;
  justify-content: flex-start;
}

.side-nav:hover ul li p{
  color: white;
  display: block;
}

.side-nav ul li p:hover{
  color: #657ef8;
  display: block;
}

.side-nav:hover ul li img{
  margin-right: 10px;
}


/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

.post-icon {
  z-index: 4;
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  top: 20px;
  right: 60px;
}
.post-icon img{
  margin-right: 25px;
  height: 35px;
  width: 35px;
}
.post-nav{
  z-index: 5;
  position: fixed;
  top: 19.5px;
  right: 30px;
  opacity: 0;
  transform: translateX(0) scale(0.7);
  width: 380px;
  padding: 20px 30px;
  background: rgb(27, 29, 49);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

.post-nav ul li {
  justify-content: flex-start;
  border-radius: 10px;
}

.post-nav:hover ul li{
  justify-content: flex-start;
}

.post-nav ul li img {
  cursor: pointer;
  height: 75px;
  width: 75px;
  margin-right: 10px;
  border-radius: 15px; 
}

.post-nav ul li p{
  color: white;
  display: block;
  margin-left: 30px;
  font-size: 1.9rem;
}

.post-nav ul li p:hover {
  color: #657ef8;
  display: block;
  cursor: pointer;
}

